:root {
    --dark: #183e4b;
    --light: #eaeaea;
    --primary: #e64d4d;
    --secondary: #1b4552;
    --tertiary: #8ba0a4;
}

html {
    background-color: var(--dark);
    color: var(--light);
}

header {
    background-color: var(--dark);
    color: var(--primary);
    margin: 0px;
    padding: 6px;
    max-height: 20vh;
}


#search-section {
    background-color: var(--secondary);
    color: var(--light);
}

#search-section button {
    background-color: var(--light);
    color: black;
    border-radius: 6px;
    border-style: inset;
    border-width: 4px;
}

#city-search {
    background-color: var(--light);
    color: var(--dark);
}

#history-section {
    border-top-style: groove;
    border-top-width: 6px;
    border-top-color: var(--tertiary);
    min-height: 8vh;
}

#weather-section {
    background-color: var(--tertiary);
    color: var(--dark);
    min-height: 80vh;
}

#forecast-section {
    background-color: var(--dark);
    color: var(--light);
    min-height: 30vh;
}